<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-3">
        <div class="container">
            <a class="navbar-brand" href="/"> <%# MODIFIED: Changed from index.html to / for consistency %>
                <i class="fas fa-bolt me-2"></i>The Light & Wire Store
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a> <%# MODIFIED: Changed from index.html to / for consistency %>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategories" id="categories-dropdown">
                            <li><a class="dropdown-item" href="#">Loading...</a></li> <%# Will be populated by JS %>
                        </ul>
                    </li>
                  
                    <li class="nav-item" id="nav-wishlist-link"> <%# Removed inline style, will be controlled by JS %>
                        <a class="nav-link" href="/wishlist"> <%# MODIFIED: Changed from wishlist.html to /wishlist %>
                            <i class="fas fa-heart fa-lg"></i> Wishlist
                        </a>
                    </li>
                    <li class="nav-item" id="nav-notifications-link"> <%# Removed inline style, will be controlled by JS %>
                        <a class="nav-link" href="/user-dashboard#notifications-content"> <%# MODIFIED: Changed from user-dashboard.html#notifications to /user-dashboard#notifications-content %>
                            <i class="fas fa-bell"></i> <span class="badge bg-warning text-dark rounded-pill notification-badge-custom" id="notification-count">0</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="open-search-modal-btn" data-bs-toggle="modal" data-bs-target="#searchModal">
                            <i class="fas fa-search fa-lg"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/cart" id="open-mini-cart-btn"> <%# MODIFIED: Changed from # to /cart %>
                            <i class="fas fa-shopping-cart fa-lg"></i> <span class="badge bg-danger rounded-pill cart-badge-custom" id="cart-item-count">0</span>
                        </a>
                    </li>
                    <li class="nav-item" id="nav-login-link"> <%# Removed inline style, will be controlled by JS %>
                        <a class="nav-link" href="/login">Login</a> <%# MODIFIED: Changed from login.html to /login %>
                    </li>
                    <li class="nav-item" id="nav-register-link"> <%# Removed inline style, will be controlled by JS %>
                        <a class="nav-link" href="/register">Register</a> <%# MODIFIED: Changed from register.html to /register %>
                    </li>
                   
                    <li class="nav-item" id="admin-dashboard-link"> <%# Removed inline style, will be controlled by JS %>
                        <a class="nav-link" href="/admin">Admin Dashboard</a>
                    </li>
                    <li class="nav-item" id="nav-profile-link"> <%# Removed inline style, will be controlled by JS %>
                        <a class="nav-link" href="/user-dashboard">My Profile <i class="fas fa-user"></i></a> <%# MODIFIED: Changed from user-dashboard.html to /user-dashboard %>
                    </li>
                    <li class="nav-item" id="nav-myorders-link"> <%# NEW: Added my orders link %>
                        <a class="nav-link" href="/my-orders">My Orders</a> <%# MODIFIED: Changed from my-orders.html to /my-orders %>
                    </li>
                    <li class="nav-item" id="nav-logout-link"> <%# Removed inline style, will be controlled by JS %>
                        <a class="nav-link" href="#" id="logout-button">Logout <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>